`import java.util.Set;`
`import fengfei.ucm.entity.photo.Refresh;import fengfei.fir.utils.Path;import fengfei.fir.model.PhotoShow`
`import japidviews.Application.photo.PhotoView;`
`extends  japidviews._layouts.Layout`
`args Map<String, String> pathTitle,String pagePath, List<? extends PhotoShow> photos, int pageNum`
`set title: "Sprucy Home Page"`
`set header: "Show"`
`set css
<!---->
<link rel="stylesheet" type="text/css" href="@{/public/styles/photo.css}"/>
`
`tag HomeNav pagePath,pathTitle`
`tag PhotoView pagePath,photos,pageNum`