`extends japidviews._layouts.Layout` `set title:"Sprucy Home Page"` `set css
<style type="text/css">
<!--
#dropbox {
	height: 200px;
}
-->
</style>
<script src="@{'/public/js/jquery.filedrop.js'}" type="text/javascript"></script>
<script type="text/javascript">
<!--
	$(function() {
		var dropbox = $('#dropbox'), message = $('.message', dropbox);

		dropbox
				.filedrop({
					fallback_id : 'files',
					paramname : 'pic',

					maxfiles : 1,
					maxfilesize : 1,
					url : '/upload/done',

					uploadFinished : function(i, file, response) {
						$.data(file).addClass('done');
						// response is the JSON object that post_file.php returns
					},

					error : function(err, file) {
						switch (err) {
						case 'BrowserNotSupported':
							showMessage('Your browser does not support HTML5 file uploads!');
							break;
						case 'TooManyFiles':
							alert('Too many files! Please select 5 at most! (configurable)');
							break;
						case 'FileTooLarge':
							alert(file.name
									+ ' is too large! Please upload files up to 2mb (configurable).');
							break;
						default:
							break;
						}
					},

					// Called before each upload is started
					beforeEach : function(file) {
						if (!file.type.match(/^image\//)) {
							alert('Only images are allowed!');

							// Returning false will cause the
							// file to be rejected
							return false;
						}
					},

					uploadStarted : function(i, file, len) {
						createImage(file);
					},

					progressUpdated : function(i, file, progress) {
						$.data(file).find('.progress').width(progress);
					}

				});

		var template = '<div class="preview">' + '<span class="imageHolder">'
				+ '<img />' + '<span class="uploaded"></span>' + '</span>'
				+ '<div class="progressHolder">'
				+ '<div class="progress"></div>' + '</div>' + '</div>';

		function createImage(file) {

			var preview = $(template), image = $('img', preview);

			var reader = new FileReader();

			image.width = 100;
			image.height = 100;

			reader.onload = function(e) {

				// e.target.result holds the DataURL which
				// can be used as a source of the image:

				image.attr('src', e.target.result);
			};

			// Reading the file as a DataURL. When finished,
			// this will trigger the onload function above:
			reader.readAsDataURL(file);

			message.hide();
			preview.appendTo(dropbox);

			// Associating a preview container
			// with the file, using jQuery's $.data():

			$.data(file, preview);
		}

		function showMessage(msg) {
			message.html(msg);
		}

	});
//-->
</script>

`
<form action="/upload/done" id="upload_done" method="POST"
	class="photos_placeholder" enctype="multipart/form-data">


	<div class="subheader clearfix">
		<h2>Upload</h2>
		<div class="right">
			<span id="photo_remaining_count">9</span> of 10 uploads remaining
			this week. <a href="#" id="upgrade_link">Upgrade</a> to have
			unlimited uploads.
		</div>
	</div>
	<div class="progress">1</div>
	<input name="files" id="files" accept="image/jpeg"
		class="vis-hidden pos-ab" multiple="multiple" type="file">

	<div id="dropbox">
		<span id="drop_message">Drag photos from your computer here or
			<a id="browse_button">browse</a> for photos to upload. Maximum 10
			photos at a time.
		</span> <span id="drop_message_hover" style="display: none;">Drop
			photos to upload</span>
	</div>

	<div id="files" class="clearfix"></div>

	<div class="linetop clearfix" id="save-edit-buttons">
		<div class="right clearfix">
			<div id="upload_message">Uploading photo...</div>
			<input value="Upload" id="upload" class="button green disabled right"
				type="submit">
		</div>
	</div>

</form>
