`import java.util.Set;import fengfei.ucm.entity.photo.Refresh;`
`import fengfei.fir.utils.Path;import fengfei.fir.model.PhotoShow`
`extends  japidviews._layouts.Layout`
`args Map<String, String> pathTitle,String pagePath, List<? extends PhotoShow> photos, int pageNum`
`set title: pathTitle.get(pagePath)+" "+i18n("photo.nav.suffix")`
`set header: "Views"`
`set css
<!---->
<link rel="stylesheet" type="text/css" href="@{/public/styles/photo.css}"/>
`
`tag PhotoNav pagePath,pathTitle`
`tag PhotoView pagePath,photos,pageNum`