`extends  japidviews._layouts.Layout`
`set title: "Sprucy Home Page"`
`set header: "Show"`

<ul class="dropdown-menu">
	<li>
		<a href="/settings/profile"><i class="icon-pencil"></i>Setting</a>
	</li>
	<li>
		<a href="/account"><i class="icon-trash"></i> Account</a>
	</li>
	<li>
		<a href="/profile"><i class="icon-ban-circle"></i>Profile</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="/store"><i class="i"></i> Store</a>
	</li>
	<li class="divider"></li>
	<li>
		<a href="/logout"><i class="i"></i> Logout</a>
	</li>
</ul>