
`extends japidviews._layouts.Layout`
`args String checks`
`set title:i18n("notify.title")`
`set header: "Email Notifications" `

<div class="grid_row">

    <div class="col col_3 ">
        <div class="sidebar-nav ">
            `tag SettingsMenu "Notifications"`
        </div>
    </div>
    <div class="col col_13 ">
        <div class="row-fluid well profile_right">
            <div class="span8  ">

                <form id="notifyForm" class="form-horizontal" action="/settings/notification/done" method="post">

                    <div class="checkbox control-group">
                        <label for="commented_on_your_wall">
                            <input  id="commented_on_your_wall"
                                    name="notify1" type="checkbox" value="1"  />
                            &{notify.comment.wall} </label>
                    </div>
                    <div class="checkbox control-group">
                        <label for="commented_on_your_photo">
                            <input
                                     id="commented_on_your_photo"
                                    name="notify2" type="checkbox" value="2"/>
                            &{notify.comment.photo} </label>
                    </div>

                    <div class="checkbox control-group">
                        <label for="commented_on_your_story">
                            <input
                                     id="commented_on_your_story"
                                    name="notify3" type="checkbox" value="3"/>
                            &{notify.comment.story} </label>
                    </div>

                    <div class="checkbox control-group">
                        <label for="added_to_favorites">
                            <input 
                                   id="added_to_favorites" name="notify4"
                                   type="checkbox" value="4"/>
                            &{notify.favorite.photo} </label>
                    </div>

                    <div class="checkbox control-group">
                        <label for="selected_by_editor">
                            <input 
                                   id="selected_by_editor" name="notify5"
                                   type="checkbox" value="5"/>
                            &{notify.choice.photo}</label>
                    </div>

                    <div class="checkbox control-group">
                        <label for="reached_up_or_pop">
                            <input 
                                   id="reached_up_or_pop" name="notify6" type="checkbox"
                                   value="6"/>
                            &{notify.score.up}</label>
                    </div>

                    <div class="checkbox control-group">
                        <label for="you_are_followed">
                            <input 
                                   id="you_are_followed" name="notify7" type="checkbox"
                                   value="7"/>
                            &{notify.follow.me} </label>
                    </div>

                    <div class="checkbox control-group">
                        <label for="got_comments_reply">
                            <input
                                    id="got_comments_reply" name="notify8"
                                    type="checkbox" value="8"/>
                            &{notify.subscribed}</label>
                    </div>

                    <div class="checkbox control-group">
                        <label for="buys_my_photo">
                            <input 
                                   id="buys_my_photo" name="notify9" type="checkbox"
                                   value="9"/>
                            &{notify.buy.photo} </label>
                    </div>

                    <div class="checkbox control-group">
                        <label for="newsletters">
                            <input 
                                   id="newsletters" name="notify10" type="checkbox" value="10"/>
                            &{notify.news}</label>
                    </div>

                    <div class="checkbox control-group">
                        <label for="account_updates">
                            <input 
                                   id="account_updates" name="notify11" type="checkbox"
                                   value="11"/>
                            &{notify.account.change}</label>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">
                                &{save.change}
                            </button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    var checks="${checks}";
    $("#notifyForm").find(":checkbox").each(function(i){
        var index=checks.length-this.value;
        if(checks.charAt(index)==1){
            $(this).attr("checked","checked");
        }
    });
</script>

