`extends japidviews._layouts.Layout`
`set title:i18n("password.title")`
`set header:"Change Password" `

<div class="grid_row">

    <div class="col col_3 ">
        <div class="sidebar-nav ">
            `tag SettingsMenu "Password"`
        </div>
    </div>
    <div class="col col_13 ">
        <div class="row-fluid well profile_right">
            <div class="span10 ">

                <form class="form-horizontal" action="/settings/password/done"
                      method="post">
                    `tag AllMessage`
                    <div class="control-group">
                        <label class="control-label" for="oldPassword">&{password.old}</label>

                        <div class="controls">
                            <input type="password" id="oldPassword" name="oldPassword"
                                   class="span10" placeholder="&{password.old}">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="newPassword">&{password.again}
                            </label>

                        <div class="controls">
                            <input type="password" id="newPassword" name="newPassword"
                                   class="span10" placeholder="&{password.again}">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="reNewPassword">&{password.again.repeat}
                            </label>

                        <div class="controls">
                            <input type="password" id="reNewPassword" name="reNewPassword"
                                   class="span10" placeholder="&{password.again.repeat}">
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">
                                &{save.change}
                            </button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

