`extends japidviews._layouts.Layout`
`import fengfei.ucm.entity.profile.UserPwd`
`set title:"Sprucy Log in Page"`
`set header:" Log in " `
`set css

<script src="@{'/public/js/jquery.validate.js'}" type="text/javascript"></script>
<script src="@{'/public/js/additional-methods.js'}" type="text/javascript"></script>
<script src="@{'/public/js/jquery.validate.localization/messages_cn.js'}" type="text/javascript"></script>
<script src="@{'/public/app/signup.js'}" type="text/javascript"></script>
<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="100229030" charset="utf-8"></script>
<script src=" http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3168919025" type="text/javascript" charset="utf-8"></script>
`

<div class="grid_row signupx">

	<div class="col col_16" >
		<p>
			<h4>Log in with your account</h4>
		</p>
	</div>

	<div class="col col_16" >

		<div id="login"   class=" 	cardx">
			<div class="col left_form rigth_line" >
				<form class="form-horizontal"  method="post" action="/login${flash.get("cpage")}">
					<div class="control-group">
						No account yet? <a href="/signup">Sign up</a>
					</div>
					`tag ErrorMessage`
					<p class="control-group ">
						<label for="email">	Login with your username or email:</label>
						<input type="text" name="email" id="inputEmail" placeholder="Email or Username" value="${flash.get("email")}" class="input"/>
					</p>
					<p class="control-group ">
						<label for="password">Input your password:</label>
						<input type="password" name="password" id="inputPassword" placeholder="Password" class="input" alt=""/>
					</p>
					<div class="input_control_group">
						<small class="left terms"><a href="/recover" target="_">Can't access your account?</a></small>
						<button type="submit" class="btn btn-large">
							Login
						</button>
					</div>

				</form>

			</div>
			<div class="col right_form  " >
				<div class="cell">
					<div>

						<span id="qqLoginBtn" class="qqLoginBtn">Log in with QQ</span>
						<script type="text/javascript">
							QC.Login({
								btnId : "qqLoginBtn", //插入按钮的节点id
								size : 'A_L'
							});
						</script>
					</div>
					<p></p>
					<div>

						<span id="wb_connect_btn"  class="wb_connect_btn">Log in with Weibo</span>

						<script type="text/javascript">
							WB2.anyWhere(function(W) {
								W.widget.connectButton({
									id : "wb_connect_btn",
									type : '2,3',
									callback : {
										login : function(o) {//登录后的回调函数
											alert("login: " + o.screen_name)
										},
										logout : function() {//退出后的回调函数
											alert('logout');
										}
									}
								});
							});

						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>