/
form.form {
	color: #EEE;
}

form.form legend {
	border: none;
	padding-left: 0;
}

form.form legend,form.form label {
	color: #EEE;
}

form.form fieldset {
	border: none;
	
}

form.form fieldset fieldset {
	background: none;
}

form.form fieldset p,form.form fieldset fieldset {
	padding: 5px 10px 7px;
	background: url(../images/form-divider.gif) left bottom repeat-x;
}

form.form label.error,label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}

div.error {
	display: none;
}

input {
	border: 1px solid black;
}

input.checkbox {
	border: none
}

input:focus {
	border: 1px dotted black;
}

input.error {
	border: 1px dotted red;
}

form.form .gray * {
	color: gray;
}