`extends japidviews._layouts.Layout` `set title: "Not Found Page"`
`set header: "500" `
<div class="grid_row">
	<div class="col col_4">

		&nbsp;
	</div>
	<div class="col col_8">

		<div class="rounded4 img_shadow not_found ">
			<div  class="logo">
				Spruce
			</div>
			<div  class="text">
				页面不存在！
			</div>
			<p>
				建议访问下面的精彩内容：
			</p>
			<div class="bar">
				<ul class="nav nav-pills" >
					<li>
						<a href="/popular">最受欢迎</a>
					</li>
					<li >
						<a href="/last">最新上传</a>
					</li>
					<li >
						<a href="/choice">我们推荐</a>
					</li>
					<li>
						<a href="/upcoming">正在上升</a>
					</li>

					<li >
						<a href="/category">分类浏览</a>
					</li>
				</ul>
			</div>

		</div>

	</div>
	<div class="col col_4">

		&nbsp;
	</div>
</div>

