`import java.util.Set;import fengfei.ucm.entity.photo.Refresh;`
`import fengfei.fir.utils.Path;import fengfei.fir.model.PhotoShow`
`extends japidviews._layouts.Layout`
`args String pagePath,List<? extends PhotoShow> photos, int pageNum`
`set title: i18n("photo.nav.suffix")`
`set header: "Views"`
`set css
<!---->
<link rel="stylesheet" type="text/css" href="@{/public/styles/photo.css}"/>
`
`if(photos!=null){`
<div class="grid_row choice">

    `for(PhotoShow photo : photos){`
    <div class="col photo_col width_2">
        <div class="photo_preview photo_preview_2 ">
            <a href="javascript:void(0)" src="/show/${photo.idPhoto}_${photo.idUser}?from=${pagePath}"
               target="photo_view"> <img
                    src="${Path.getJpegDownloadPath(photo.idPhoto,1)}" class="rounded3"/></a>

            <div class="caption">
                <div class="title">
                    <a href="javascript:void(0)" src="/choiced/${photo.idPhoto}_${photo.idUser}?feature=popular"
                       target="photo_view">&{editor.choice}</a>
                </div>
                <div class="score">
                    <a href="#">&{editor.view}</a>
                </div>
            </div>
        </div>
    </div>
    `}`

</div>
<div class="grid_row">
    <div class="col col_16 pager  pagination-right">
        <ul>
            <li>
                <a href="${pagePath}/${(pageNum-1<=0)?1:(pageNum-1)}">Prev</a>
            </li>
            `if(pageNum>=2){`
            <li>
                <a href="${pagePath}/1">First</a>
            </li>
            `}`

            <!--	<li class="disabled"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>-->
            `if(photos.size()>=20){`
            <li>
                <a href="${pagePath}/${photos.size()<20?pageNum:(pageNum+1)}">Next</a>
            </li>
            `}`

        </ul>
    </div>
</div>
`}`